<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd
						http://code.alibabatech.com/schema/dubbo
						http://code.alibabatech.com/schema/dubbo/dubbo.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd">



    <!--加载jdbc属性文件-->
    <context:property-placeholder  location="classpath:jdbc.properties"/>



     <!--组件扫描-->
    <context:component-scan base-package="com.oyww.bos.web"/>

    <!--开启注解解析器，可以省略-->
    <!--<context:annotation-config></context:annotation-config>-->
    <dubbo:application name="bos-manager-web"/>
    <!-- 找到注册中心 -->
    <dubbo:registry protocol="zookeeper" address="192.168.1.180:2181"/>
    <!-- 调用服务，发布用service引用用reference -->
    <dubbo:reference interface="com.oyww.bos.service.TestService" id="testService"/>



</beans>